.nav-component {
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
}

.nav-header {
	font-weight: 400;
	font-size: 25px;
	color: white;
	font-style: italic;
}

.nav-component input {
	border: none;
	outline: none;
	padding: 10px 10px 10px 20px;
	border-radius: 30px;
	color: #505157;
	width: 300px;
	min-width: 0px;
	margin-left: 10px;
}

@media screen and (max-width:576px) {
	.nav-component {
		padding: 10px;
	}

	.nav-header {
		font-size: 20px;
	}

	.nav-component input {
		width: 200px;
	}
}